<nav class='navbar navbar-expand-lg navbar-light'>
  <div class='container-fluid'>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarTogglerDemo01' aria-controls='navbarTogglerDemo01' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarTogglerDemo01'>
      <a class='navbar-brand' href='/'>Alberto's page</a>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        <li class='nav-item'>
          <a {{#is @root.pageTitle 'Aldevto Studio'}} class='nav-link active' aria-current='page'{{else}}class='nav-link'{{/is}} href='/'>Home</a>
        </li>
        <li class='nav-item'>
          <a {{#is @root.pageTitle 'About us'}} class='nav-link active' aria-current='page'{{else}}class='nav-link'{{/is}} href='/about'>About</a>
        </li>
        <li class='nav-item'>
          <a {{#is @root.pageTitle 'Works'}} class='nav-link active' aria-current='page'{{else}}class='nav-link'{{/is}} href='/works'>Works</a>
        </li>
        <li class='nav-item'>
          <a {{#is @root.pageTitle 'Gallery'}} class='nav-link active' aria-current='page'{{else}}class='nav-link'{{/is}} href='/gallery'>Gallery</a>
        </li>
      </ul>
    </div>
  </div>
</nav>