<div class='container col-xxl-8 px-4 py-5'>
  <div class='row flex-lg-row-reverse align-items-center g-5 py-5'>
    <div class='col-10 col-sm-8 col-lg-6'>
      <img src='/hero-banner.png' class='d-block mx-lg-auto img-fluid rounded shadow-lg bg-body' alt='hero banner' width='700' height='500' loading='lazy' />
    </div>
    <div class='col-lg-6'>
      <h1 class='display-5 fw-bold lh-1 mb-3'>Welcome to Aldevto Studio's page!</h1>
      <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis felis ac mi ullamcorper, posuere congue erat mollis. Nam suscipit erat nec sem consectetur fermentum. Vivamus consectetur fringilla ipsum. Curabitur non mattis turpis, eget luctus dui. Vivamus sollicitudin eleifend massa, eget auctor magna blandit sed.</p>
      <div class='d-grid gap-2 d-md-flex justify-content-md-start links'>
        <a href='https://www.youtube.com/channel/UCLmxY8D8b0wZ7DGAxWnaPsQ' target='blank'>
          <img src='/youtube-icon-png.png' alt='Youtube icon.' />
        </a>
        <a href='https://twitter.com/aldevto' target='blank'>
          <img src='/twitter-icon-png.png' alt='Twitter icon.' />
        </a>
        <a href='https://www.linkedin.com/in/aldevto/' target='blank'>
          <img src='/linkedin-icon-png.png' alt='Linkedin icon.' />
        </a>
        <a href='mailto:contacto@aldevto.es?Subject=Aqu%C3%AD%20el%20asunto%20del%20mail' target='blank'>
          <img src='/email-icon-png.png' alt='Email icon.' />
        </a>
      </div>
    </div>
  </div>
</div>