<div class='container col-xxl-8 px-4 py-5'>
  <h1 class='display-5 fw-bold lh-1 mb-5'>Projects.</h1>

  <div>
    <h1 class='display-5 fw-normal lh-1 mb-3 title'>Pingü: The soviet comrade.</h1>
    <p class='lead'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, error reprehenderit voluptatem repudiandae voluptates consequuntur impedit neque dignissimos aperiam numquam unde, maxime eum officia praesentium vitae quibusdam magnam eos deleniti. Voluptas, hic. Porro saepe quidem maxime id praesentium esse molestias at est, eaque similique illo odit nihil iusto voluptatibus. Aut est dolore obcaecati doloremque, consectetur repellat laborum sint explicabo minus.</p>
    <h2 class='fw-light'>Tecnologies used.</h2>
    <p class='lead'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat itaque soluta quibusdam quod quia quasi veritatis perferendis esse quae sit recusandae modi, sapiente accusantium. Dignissimos recusandae officiis quibusdam ratione cupiditate.</p>
    <div class='center'>
      <img src='/unity-logo.png' alt='Unity logo' />
      <img src='/net-logo.png' alt='Net logo' />
    </div>
  </div>

  <hr class='mt-5' />

  <div class='mt-5'>
    <h1 class='display-5 fw-normal lh-1 mb-3 title'>Kybebo: Slide Adventure.</h1>
    <p class='lead'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, error reprehenderit voluptatem repudiandae voluptates consequuntur impedit neque dignissimos aperiam numquam unde, maxime eum officia praesentium vitae quibusdam magnam eos deleniti. Voluptas, hic. Porro saepe quidem maxime id praesentium esse molestias at est, eaque similique illo odit nihil iusto voluptatibus. Aut est dolore obcaecati doloremque, consectetur repellat laborum sint explicabo minus.</p>
    <h2 class='fw-light'>Tecnologies used.</h2>
    <p class='lead'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat itaque soluta quibusdam quod quia quasi veritatis perferendis esse quae sit recusandae modi, sapiente accusantium. Dignissimos recusandae officiis quibusdam ratione cupiditate.</p>
    <div class='center'>
      <img src='/unity-logo.png' alt='Unity logo' />
    </div>
  </div>
</div>